#left {
    width: 24%;
    height: 48%;
    margin: 5px;
    display: inline-block;
}
#middle {
    width: 48%;
    height: 48%;
    margin: 5px;
    display: inline-block;
}
#right {
    width: 24%;
    height: 48%;
    margin: 5px;
    display: inline-block;
}
#bottom {
    text-align:center;
    width: 98%;
    height: 40%;
    display: inline-block;
}
#left > img {
    width:80%;
    height:40%;
    float:left;
    padding:10%;
}

#right > img {
    width:80%;
    height:40%;
    float:left;
    padding:10%;
}

#middle > img {
    width:80%;
    height:80%;
    float:left;
    padding:10%;
}

#bottom > img {
    width:150px;
    height:150px;
    float:left;
    padding:20px;
}

img:hover {
    opacity: 0.6;
    background-color: yellow;
}

#bar-chart {
    margin-left: 1000px;
    width: 1000px;
    /*margin-right: 20px;*/
    background-color: #fa766a;
    float: left;

}

#birth-year-selection {
    width: 1000px;
    /*border-width: 1px;*/
    /*border-color: #d9d9d9;*/
    /*background-color: #f0fae9;*/
    /*border-left-style: solid;*/
}

#tree {
    /*margin-left: 1000px;*/
    width: 1000px;
    /*border-width: 1px;*/
    /*border-color: #d9d9d9;*/
    /*background-color: #e7e1fa;*/
    /*border-left-style: solid;*/
}

.brush .selection {
    fill-opacity: .10;
}

.generationFrame{
    fill-opacity: .5;
    fill: #c6c6c6;
    border-width: 1px;
    border-color: #a3a3a3;
}

.treeCircle{
    fill-opacity: .80;
    border-width: 1px;
    border-color: #a3a3a3;
}

.line {
    fill: none;
    stroke-width: 1px;
}