#familyview {
    width:800px;
    height:800px;
    margin:auto;
    text-align:center;
}

.left {
    width: 24%;
    height: 48%;
    margin: 1px;
    display: inline-block;
}
.middle {
    width: 48%;
    height: 48%;
    margin: 1px;
    display: inline-block;
}
.right {
    width: 24%;
    height: 48%;
    margin: 1px;
    display: inline-block;
}
.bottom {
    text-align:center;
    width: 98%;
    height: 40%;
    display: inline-block;
}
.left > img {
    width:80%;
    height:40%;
    float:left;
    margin:10%;
}

.right > img {
    width:80%;
    height:40%;
    float:left;
    margin:10%;
}

.middle > img {
    width:80%;
    height:80%;
    float:left;
    margin:10%;
}

.bottom img {
    width:120px;
    height:120px;
    float:left;
    margin:20px;
}

img:not(.unclickable):hover {
    opacity: 0.6;
    cursor:pointer;
}

#bar-chart {
    margin-left: 1000px;
    width: 1000px;
    /*margin-right: 20px;*/
    background-color: #fa766a;
    float: left;

}

#birth-year-selection {
    width: 1000px;
    /*border-width: 1px;*/
    /*border-color: #d9d9d9;*/
    /*background-color: #f0fae9;*/
    /*border-left-style: solid;*/
}

#tree {
    /*margin-left: 1000px;*/
    width: 1000px;
    /*border-width: 1px;*/
    /*border-color: #d9d9d9;*/
    /*background-color: #e7e1fa;*/
    /*border-left-style: solid;*/
}

.brush .selection {
    fill-opacity: .10;
}

.generationFrame{
    fill-opacity: .5;
    fill: #c6c6c6;
    border-width: 1px;
    border-color: #a3a3a3;
}

.treeCircle{
    fill-opacity: .80;
    border-width: 1px;
    border-color: #a3a3a3;
}
 #familyview {
     background-color: lightgrey;
 }

.line {
    fill: none;
    stroke-width: 1px;
}

#addmargin{
    margin-top:110%;
}


.text{
    font-family: "URW Chancery L",cursive;
}

.middle .text {
    position: relative;
    top:-378px;
    font-size:140%;
}

.childtext {
    font-family: "URW Chancery L",cursive;
    position:relative;
    top:18px;
}

.child{
    width:150px;
    height:150px;
    float:left;
}

.singleperson {
    height:1px;
    position:relative;
    top:-197px;
}

.sidefamily {
    height:1px;
    position:relative;
    top:-192px;
    font-size:75%
}

.links {
    fill: none;
    stroke: #9c9c9c;
    stroke-width: 1px;
}

.spouselinks {
    fill: none;
    stroke: #757575;
    stroke-width: 2px;
}

.selectedCircle {
    stroke-width: 3px;
    stroke: #636e84;
}

