#left {
    width: 24%;
    height: 48%;
    margin: 5px;
    display: inline-block;
}
#middle {
    width: 48%;
    height: 48%;
    margin: 5px;
    display: inline-block;
}
#right {
    width: 24%;
    height: 48%;
    margin: 5px;
    display: inline-block;
}
#bottom {
    text-align:center;
    width: 98%;
    height: 40%;
    display: inline-block;
}
#left > img {
    width:80%;
    height:40%;
    float:left;
    padding:10%;
}

#right > img {
    width:80%;
    height:40%;
    float:left;
    padding:10%;
}

#middle > img {
    width:80%;
    height:80%;
    float:left;
    padding:10%;
}

#bottom > img {
    width:150px;
    height:150px;
    float:left;
    padding:20px;
}

img:hover {
    opacity: 0.6;
    background-color: yellow;
}